body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(-45deg, #e87b8e, #d7a6b2, #d09adf, #8f70b3); */
    /* height: 16vh; */
    width: 100vw;
    background-repeat: no-repeat;
}

nav {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffebef;
    transform: scale(1.05);
}

nav ul button a {
    background: rgba(255, 255, 255, 0.25);
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.85);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}